@model CarManufactoring.Models.Stock

@{
    ViewData["Title"] = "Delete Stock";
}

<h1 class="text-danger">Are you sure you want to delete the entire stock of this material?</h1>
<hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collaborator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collaborator.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StockId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-route-id="@Model.StockId" class="btn btn-secondary">Cancel</a>
    </form>
</div>
