@using CarManufactoring.ViewModels.Group2
@model WarehousesIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-success">Add Warehouse</a>
</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Warehouse Search</h5>
        <form asp-action="Index" method="get">
            <div class="mb-3">
                <h6 class="form-label">Location</h6>
                <input name="Location" asp-for="LocationSearch" class="form-control" type="search" />
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn btn-secondary">Clear Search</a>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new Warehouse().Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Warehouse().Collaborator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WarehousesList.List)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collaborator.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WarehouseId" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.WarehouseId" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.WarehouseId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.WarehousesList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
        </li>

        @for (int p = Model.WarehousesList.PagingInfo.InitialPageToShow; p <= Model.WarehousesList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.WarehousesList.PagingInfo.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.WarehousesList.PagingInfo.CurrentPage == Model.WarehousesList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.WarehousesList.PagingInfo.TotalPages">Last</a>
        </li>
    </ul>
</nav>
