@model SemiFinishedIndexViewModel

@{
    ViewData["Title"] = "Semi Finisheds List";
}

<h1>@ViewBag.Title</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search</h5>
        <form asp-action="Index" method="get">
            <div class="mb-3">
                <label for="title" class="form-label">Family</label>
                <input name="title" class="form-control" type="search" value="@Model.FamilySearched" />
            </div>
            <div class="mb-3">
                <label for="reference" class="form-label">Reference</label>
                <input name="reference" class="form-control" type="search" value="@Model.ReferenceSearched" />
            </div>
            <div class="mb-3">
                <label for="ean" class="form-label">EAN</label>
                <input name="ean" class="form-control" type="search" value="@Model.EANSearched" />
            </div>
            <div class="mb-3">
                <label for="manufacter" class="form-label">Manufacter</label>
                <input name="manufacter" class="form-control" type="search" value="@Model.ManufacterSearched" />
            </div>
            <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input name="state" class="form-control" type="search" value="@Model.SemiFinishedStateSearched" />
            </div>

            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Clear search</a>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().EAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Manufacter)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().SemiFinishedState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SemiFinishedList.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemiFinishedState)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SemiFinishedId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SemiFinishedId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SemiFinishedId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.SemiFinishedList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="">First</a>
        </li>

        @for (int p = Model.SemiFinishedList.PagingInfo.InitialPageToShow; p <= Model.SemiFinishedList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.SemiFinishedList.PagingInfo.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            } else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.SemiFinishedList.PagingInfo.CurrentPage == Model.SemiFinishedList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.SemiFinishedList.PagingInfo.TotalPages">Last</a>
        </li>
            
    </ul>
</nav>