@model ListViewModel<SemiFinished>

@{
    ViewData["Title"] = "Semi Finisheds List";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().EAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Manufacter)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().SemiFinishedState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemiFinishedState)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.SemiFinishedId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SemiFinishedId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SemiFinishedId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
