@model SemiFinishedIndexViewModel

@{
    ViewData["Title"] = "Semi Finisheds List";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().EAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Manufacter)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => new SemiFinished().SemiFinishedState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SemiFinishedList.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemiFinishedState)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SemiFinishedId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SemiFinishedId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SemiFinishedId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.SemiFinishedList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
        </li>

        @for (int p = Model.SemiFinishedList.PagingInfo.InitialPageToShow; p <= Model.SemiFinishedList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.SemiFinishedList.PagingInfo.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.SemiFinishedList.PagingInfo.CurrentPage == Model.SemiFinishedList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.SemiFinishedList.PagingInfo.TotalPages">Last</a>
        </li>
    </ul>
</nav>

