@model CarManufactoring.Models.MaterialUsado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaterialUsado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemiFinishedNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemiFinishedNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaterialUsadoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
