@using CarManufactoring.ViewModels.Group2
@model CarPartsIndexViewModel

@{
    ViewData["Title"] = "Car Parts";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new CarParts().PartType)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarParts().Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarParts().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarParts().PointOfPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarParts().SafetyStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarParts().LevelService)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (CarParts cp in Model.CarPartsList.List) {
        <tr>
            <td>
                @cp.PartType
            </td>
            <td>
                @cp.Reference
            </td>
            <td>
                @cp.Name
            </td>
            <td>
                @cp.PointOfPurchase
            </td>
            <td>
                @cp.SafetyStock
            </td>
            <td>
                @cp.LevelService
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@cp.ProductId" class="btn btn-success">Request</a>
                <a asp-action="Details" asp-route-id="@cp.ProductId" class="btn btn-warning">Storage</a>
                <a asp-action="Create" asp-route-id="@cp.ProductId" class="btn btn-info">Buy</a>
            </td>
        </tr>
}
    </tbody>
</table>
