@model IEnumerable<CarManufactoring.Models.AttendedHours>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkedHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.workingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAttended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkedHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.workingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAttended)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AttendedHoursId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AttendedHoursId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AttendedHoursId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
