@model CarManufactoring.Models.Breakdown

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Breakdown</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakdownName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakdownName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakdownDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakdownDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakdownNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakdownNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReparationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReparationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineStop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineStop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineReplacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineReplacement)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BreakdownId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
