@model CarManufactoring.Models.Breakdown

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Breakdown</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakdownName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakdownName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakdownDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakdownDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakdownNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakdownNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReparationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReparationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineStop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineStop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineReplacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineReplacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepairInTheCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairInTheCompany)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Delete" asp-route-id="@Model?.BreakdownId" class="btn btn-danger">Delete</a>
    <a asp-action="Edit" asp-route-id="@Model?.BreakdownId" class="btn btn-warning">Edit</a>*@
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>