@model List<Student>

@{
    ViewData["Title"] = "Students information";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Group</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student s in Model) {
            <tr>
                <td>
                    <img src="~/img/students/@(s.Number).jpg" alt="Photo of @s.Name" />
                </td>
                <td>@s.Name</td>
                <td>@s.Number</td>
                <td>@s.Group</td>
                <td>
                    <a asp-controller="Students" asp-action="Details" asp-route-number="@s.Number" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
