@model ModelPartsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome da Peça
            </th>
            <th>
                Nome do modelo do carro
            </th>
            <th>
                Quantidade de peças
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ModelPartsList.List) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarParts.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarConfig.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdPecas)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { item.CarConfigId, item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { item.CarConfigId, item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { item.CarConfigId, item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.ModelPartsList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="">First</a>
        </li>
        @for (int p = Model.ModelPartsList.PagingInfo.InitialPageToShow; p <= Model.ModelPartsList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.ModelPartsList.PagingInfo.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.ModelPartsList.PagingInfo.CurrentPage == Model.ModelPartsList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.ModelPartsList.PagingInfo.TotalPages">Last</a>
        </li>
    </ul>
</nav>
