@model IEnumerable<CarManufactoring.Models.ModelParts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarParts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarConfig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdPecas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarParts.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarConfig.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdPecas)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { CarConfigId=item.CarConfigId, ProductId=item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { item.CarConfigId, item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { item.CarConfigId, item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>
