@model CarManufactoring.Models.Assigment

@{
    ViewData["Title"] = "Assigment Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimitDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AssigmentId" class="btn btn-warning">Edit</a> 
    <a asp-action="Delete" asp-route-id="@Model?.AssigmentId" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
