@model CarManufactoring.Models.StockFinalProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockFinalProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarConfig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarConfig.ConfigName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChassiNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChassiNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Production)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Production.ProductionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LocalizationCarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
