@model CarManufactoring.Models.CarConfig

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarConfig</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumExtras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumExtras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarConfigId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
