@model CarConfigIndexViewModel

@{
    ViewData["Title"] = "Car Configurations";
}


<style>
    .butt {
        padding-bottom: 10px;
    }
</style>

<h1>@ViewBag.Title</h1>

<div class="accordion" id="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Search
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form asp-action="Index" method="get">
                    <div class="mb-3">
                        <label for="configname" class="form-label">Configuration Name</label>
                        <input name="configname" class="form-control" type="search" value="@Model.ConfigNameSearched" />
                    </div>
                    <div class="mb-3">
                        <label for="brand" class="form-label">Brand</label>
                        <select name="brand" class="form-control" type="search" value="@Model.BrandSearched">
                          <option selected="selected" disabled="disabled">Please choose a Brand</option>
                          @foreach(var item in Model.CarConfigsList.List){
                                <option>@item.Car.Brand.BrandName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="car" class="form-label">Car Model</label>
                        <input name="car" class="form-control" type="search" value="@Model.CarSearched" />
                    </div>
                    <div class="mb-3">
                        <label for="numextras" class="form-label">Number of Extras</label>
                        <input name="numextras" class="form-control" type="search" value="@Model.NumExtrasSearched" />
                    </div>
                    <div class="mb-3">
                        <label for="addedprice" class="form-label">Added Price</label>
                        <input name="addedprice" class="form-control" type="search" value="@Model.AddedPriceSearched" />
                    </div>
                    <div class="mb-3">
                        <label for="finalprice" class="form-label">Final Price</label>
                        <input name="finalprice" class="form-control" type="search" value="@Model.FinalPriceSearched" />
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn btn-secondary">Clear Search</a>
                </form>
            </div>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new CarConfig().ConfigName)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarConfig().Car.Brand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarConfig().Car.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarConfig().NumExtras)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarConfig().Car.BasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarConfig().AddedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => new CarConfig().FinalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarConfigsList.List) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumExtras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.BasePrice)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedPrice)€
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)€
            </td>
            <td>
           <a asp-action="Details" asp-route-id="@item.CarConfigId" class="btn btn-info">Details</a>
                @if (User.IsInRole("Colaborator"))
                 {
                    <a asp-action="Edit" asp-route-id="@item.CarConfigId" class="btn btn-warning">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.CarConfigId" class="btn btn-danger">Delete</a>
                  }
            </td>
        </tr>
}
    </tbody>
</table>
    @if (User.IsInRole("Colaborator"))
    {
    <div class="mt-3 butt">
        <a class="btn btn-success" asp-action="Create"><i class="fa-sharp fa-solid fa-plus pe-2"></i>Create New</a>
    </div> 
    }

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.CarConfigsList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="">First</a>
        </li>

            @for (int p = Model.CarConfigsList.PagingInfo.InitialPageToShow; p <= Model.CarConfigsList.PagingInfo.FinalPageToShow; p++)
            {
                if (p == Model.CarConfigsList.PagingInfo.CurrentPage)
                {
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
                }
            }

        <li class="page-item @(Model.CarConfigsList.PagingInfo.CurrentPage == Model.CarConfigsList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.CarConfigsList.PagingInfo.TotalPages">Last</a>
        </li>

    </ul>
</nav>