@model IEnumerable<CarManufactoring.Models.SemiFinishedCar>

@{
    ViewData["Title"] = "Relation between Semi Finisheds and Cars";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                S.F. Family
            </th>
            <th>
                S.F. Reference 
            </th>
            <th>
                C. Brand
            </th>
            <th>
                C. Model
            </th>
            <th>
                C. LaunchYear
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemiFinished.Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemiFinished.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.LaunchYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SemiFinishedCarId" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SemiFinishedCarId" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SemiFinishedCarId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
