@model SemiFinishedCarsIndexViewModel


@{
    ViewData["Title"] = "Relation between Semi Finisheds and Cars";
}

<h1>@ViewBag.Title</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search</h5>
        <form asp-action="Index" method="get">
            <div class="mb-3">
                <label for="reference" class="form-label">Reference</label>
                <input name="reference" class="form-control" type="search" value="@Model.ReferenceSearchedCar" />
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Clear search</a>
        </form>
    </div>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("Colaborator") || User.IsInRole("Manager"))
{
    <div class="mt-3">
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
}
<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                S.F. Name
            </th>
            <th>
                S.F. Reference 
            </th>
            <th>
                C. Brand
            </th>
            <th>
                C. Model
            </th>
            <th>
                C. LaunchYear
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SemiFinishedCarList.List)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemiFinishedCarsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemiFinished.Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemiFinished.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.LaunchYear)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.SemiFinishedId" class="btn btn-info">Details</a>

                @if (User.IsInRole("Admin") || User.IsInRole("Colaborator") || User.IsInRole("Manager"))
                {
                        <a asp-action="Edit" asp-route-id="@item.SemiFinishedCarsId" class="btn btn-warning">Edit</a>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <a asp-action="Delete" asp-route-id="@item.SemiFinishedCarsId" class="btn btn-danger">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>


<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.SemiFinishedCarList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="">First</a>
        </li>

        @for (int p = Model.SemiFinishedCarList.PagingInfo.InitialPageToShow; p <= Model.SemiFinishedCarList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.SemiFinishedCarList.PagingInfo.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.SemiFinishedCarList.PagingInfo.CurrentPage == Model.SemiFinishedCarList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.SemiFinishedCarList.PagingInfo.TotalPages">Last</a>
        </li>

    </ul>
</nav>
