@model IEnumerable<CarManufactoring.Models.TaskType>

@{
    ViewData["Title"] = "Task Type List";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="Create" class="btn btn-success mt-3">Create </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.TaskTypeId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.TaskTypeId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.TaskTypeId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
