@model CarManufactoring.Models.Shift

@{
    ViewData["Title"] = "Shift Details";
}

<h2>@ViewBag.title</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShiftId" class="btn btn-warning">Edit</a> 
    <a asp-action="Delete" asp-route-id="@Model?.ShiftId" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
