@model ProductionIndexViewModel

@{
    ViewData["Title"] = "Productions";
}

<h1>@ViewBag.Title</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search</h5>
        <form asp-action="Index" method="get" class="was-validated">
            <div class="mb-3">
                <label for="carConfig" class="form-label">CarConfig</label>
                <select name="CarConfig" class="form-control" type="search" id="CarConfig" value="@Model.CarConfigSearched">
                    <option selected="selected" disabled="disabled">Please choose an option</option>
                    @foreach (var item in Model.CarConfigs)
                    {
                        <option>@item.ConfigName</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input name="quantity" class="form-control" type="number" value="" min="1" />
                <div class="invalid-feedback">Please choose a number bigger than 1</div>
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Clear search</a>
        </form>
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>new Production().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Production().CarConfig)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Production().Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductionList.List)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarConfig.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductionId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductionId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductionId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.ProductionList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="">First</a>
        </li>

        @for (int p = Model.ProductionList.PagingInfo.InitialPageToShow; p <= Model.ProductionList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.ProductionList.PagingInfo.CurrentPage)
            {
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.ProductionList.PagingInfo.CurrentPage == Model.ProductionList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.ProductionList.PagingInfo.TotalPages">Last</a>
        </li>

    </ul>
</nav>