@using CarManufactoring.ViewModels.Group2
@model SupplierPartsCarPartsIndexViewModel

@{
    ViewData["Title"] = "Products of Supplier";
}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/SupplierLogo.css">

<br />
<br />


@{
if (Model.SupplierPartsCarPartsList.List.ToArray().Length != 0){
    <dl class="row">
            <dt class="col-sm-2">
                Logo
            </dt>
            <dd class="col-sm-10">
                @{
                if (Model.SupplierPartsCarPartsList.List.ToArray()[0].SupplierParts.Logo == null)
                {
                    Random random = new Random();
                    int num = random.Next(1, 5);

                                        <div class="logo-@(num)">
                                            <h3>@Html.DisplayFor(model => model.SupplierPartsCarPartsList.List.ToArray()[0].SupplierParts.Name)</h3>
                                            <p>The Best</p>
                                        </div>
                }
                else
                {
                                       <img src="@(Model.SupplierPartsCarPartsList.List.ToArray()[0].SupplierParts.Logo)" width="150" height="150">
                }
                }
            </dd>
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SupplierPartsCarPartsList.List.ToArray()[0].SupplierParts.Name)
            </dd>
    </dl>
    <br />
    <br />
}else{
    <h1 style="color: red">Supplier Has No Products!</h1>
        <br />
        <br />
}
}

<table class="table">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product Name
            </th>
            <th>
                Delivery Date
            </th>
            <th>
                Availability
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SupplierPartsCarPartsList.List) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarParts.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarParts.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidade)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { item.SupplierPartsId, item.ProductId }, new { @class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
