@model ListViewModel<Material>

@{
    ViewData["Title"] = "Materials list";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new Material().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Material().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Material().State)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Material().Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaterialId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.MaterialId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.MaterialId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
        </li>
        @for (int p = Model.PagingInfo.InitialPageToShow; p <= Model.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.PagingInfo.CurrentPage)
            {
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }
        <li class="page-item @(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.PagingInfo.TotalPages">Last</a>
        </li>
    </ul>
</nav>