@model IEnumerable<CarManufactoring.Models.Material>

@{
    ViewData["Title"] = "Materials list";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MaterialId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaterialId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaterialId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
