@model IEnumerable<CarManufactoring.Models.Machines>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquisitionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MachineBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AquisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineState.StateMachine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachinesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachinesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachinesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
