@model IEnumerable<CarManufactoring.Models.SupplierParts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<link rel="stylesheet" href="~/css/SupplierLogo.css">

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Logo
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    Random random = new Random();
                    int num = random.Next(1, 5);
                    ViewData["rand"] = num;
                }
                <td>
                    <div class="logo-holder logo-@(ViewData["rand"])">

                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>

                        <p>The Best</p>
                    </div>
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SupplierPartsId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.SupplierPartsId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.SupplierPartsId" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>

</table>

