@model CarManufactoring.Models.MachineAquisition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MachineAquisition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineAquisitionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineAquisitionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityOfParts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOfParts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model?.MachineAquisitionID" class="btn btn-danger">Delete</a>
    <a asp-action="Edit" asp-route-id="@Model?.MachineAquisitionID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>