@model CollaboratorIndexViewModel

@{
    ViewData["Title"] = "Collaborators";
}

<h2>@ViewBag.title</h2>

<div class="mt-3">
    <a asp-action="Create" class="btn btn-success">Add Collaborator</a>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Collaborator Search</h5>
        <form asp-action="Index" method="get">
            <div class="mb-3">
                <label for="Name" class="form-label"></label>
                <input name="Name" asp-for="NameSearched" class="form-control" type="search" placeholder="Collaborators Name"/>
            </div>

            <div class="mb-3">
                <label for="Phone" class="form-label"></label>
                <input name="Phone" asp-for="PhoneSearched" class="form-control" type="search" placeholder="Collaborators Phone"/>
            </div>

            <label class="form-label">On Duty</label>
            <div class="mb-3 ">
                <input type="radio" class="form-check-input" asp-for="OnDutyFilter" name="OnDuty" value="1"/> On Duty 
                <input type="radio" class="form-check-input" asp-for="OnDutyFilter" name="OnDuty" value="2" />       Off Duty
                <input type="radio" class="form-check-input" asp-for="OnDutyFilter" name="OnDuty" value="0" />       All
            <div/>

            <label for="Gender" class="form-label"></label>
            @*<select asp-for="GenderSearched" class="form-control" asp-items="ViewBag.GenderId"></select>*@


            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn btn-secondary">Clear Search</a>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new Collaborator().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Collaborator().BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Collaborator().Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Collaborator().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Collaborator().Genders)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Collaborator().OnDuty)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Collaborator().Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.collaboratorList.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genders.GenderDefinition)
                </td>

                @if (item.OnDuty)
                {
                    <td>On Duty</td>
                }
                else
                {
                    <td>Off Duty</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CollaboratorId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CollaboratorId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CollaboratorId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.collaboratorList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
        </li>

        @for (int p = Model.collaboratorList.PagingInfo.InitialPageToShow; p <= Model.collaboratorList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.collaboratorList.PagingInfo.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.collaboratorList.PagingInfo.CurrentPage == Model.collaboratorList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.collaboratorList.PagingInfo.TotalPages">Last</a>
        </li>
    </ul>
</nav>
