@using CarManufactoring.ViewModels.Group1;
@model MaintenanceCollaboratorViewModel

@{
    ViewData["Title"] = "Gestão de Máquina na Linha de Produção";

    var unfinished = false;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Title"]</h1>
            <hr />
        </div>
    </div>
    <div class="row py-4">

            <div class="col-lg-6 col-sm-12 pb-3">
            <form asp-action="MaintenanceDashboard" name="MaintenanceDashboardForm" method="get">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 pb-3">
                        <h6 class="form-label">My Jobs State</h6>
                        <input type="radio" class="form-check-input" onchange="MaintenanceDashboardForm.submit()" asp-for="CollaboratorWorkState" name="workState" value="1" /> Finished
                        <input type="radio" class="form-check-input" onchange="MaintenanceDashboardForm.submit()" asp-for="CollaboratorWorkState" name="workState" value="2" /> Unfinished
                        <input type="radio" class="form-check-input" onchange="MaintenanceDashboardForm.submit()" asp-for="CollaboratorWorkState" name="workState" value="0" /> All
                    </div>                   
                </div>
      
                
            </form>
            </div>

        <div class="col-9">
            <h3>Maintenance Works</h3>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => new MachineMaintenance().MachineMaintenanceId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => new MachineMaintenance().TaskType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => new MachineMaintenance().Machine.MachineModel)   @Html.DisplayNameFor(model => new MachineMaintenance().Machine.MachineModel.MachineBrandId)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => new MachineMaintenance().Machine.LocalizationCodeId)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => new MachineMaintenance().EffectiveEndDate)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.MaintenanceCollaboratorList.List)
                    {
                        if (item.EffectiveEndDate == null)
                        {
                            unfinished = true;
                        }
                        else
                        {
                            unfinished = false;
                        }

                            <tr>
                                <th>@Html.DisplayFor(modelItem=> item.MachineMaintenanceId)</th>
                                <th>@Html.DisplayFor(modelItem =>item.MaintenanceMachine.TaskType.TaskName)</th>
                                <th>@Html.DisplayFor(modelItem =>item.MaintenanceMachine.Machine.MachineModel.MachineModelName) - @Html.DisplayFor(modelItem =>item.MaintenanceMachine.Machine.MachineModel.MachineBrandNames.MachineBrandName)</th>

                                <th>@Html.DisplayFor(modelItem =>item.MaintenanceMachine.Machine.MachineLocalizationCode.Column) - @Html.DisplayFor(modelItem =>item.MaintenanceMachine.Machine.MachineLocalizationCode.Line)</th>

                                <th>@Html.DisplayFor(modelItem =>item.EffectiveEndDate)</th>

                            <th> <a asp-action="FinishCollabMaintenanceWork" asp-route-collabid="@item.CollaboratorId" asp-route-Maintenaceid="@item.MachineMaintenanceId" type="" style="@(unfinished?"visibility:visible;":"visibility:hidden;")" class="btn btn-primary">Finish Work</a></th>

                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.MaintenanceCollaboratorList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="MaintenanceDashboard" asp-route-page="1">First</a>
        </li>

        @for (int p = Model.MaintenanceCollaboratorList.PagingInfo.InitialPageToShow; p <= Model.MaintenanceCollaboratorList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.MaintenanceCollaboratorList.PagingInfo.CurrentPage)
            {
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                        <li class="page-item"><a class="page-link" asp-action="MaintenanceDashboard" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.MaintenanceCollaboratorList.PagingInfo.CurrentPage == Model.MaintenanceCollaboratorList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="MaintenanceDashboard" asp-route-page="@Model.MaintenanceCollaboratorList.PagingInfo.TotalPages">Last</a>
        </li>
    </ul>

