@model IEnumerable<CarManufactoring.Models.InspectionTestsProduction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Production)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Production.ProductionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InspectionTestsProductionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InspectionTestsProductionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InspectionTestsProductionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
