@model CarManufactoring.Models.InspectionAndTest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InspectionAndTest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collaborator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collaborator.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemiFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemiFinished.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InspectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
