@model CarManufactoring.Models.InspectionAndTest

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewBag.Title</h1>

<div>
    <h4>Inspection And Test</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productions.ProductionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityTested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityTested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collaborator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collaborator.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InspectionId" class="btn btn-warning">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.InspectionId" class="btn btn-danger">Delete</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
