@model IEnumerable<CarManufactoring.Models.InspectionAndTest>

@{
    ViewData["Title"] = "Inspections and Tests";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Test</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityTested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collaborator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Productions.ProductionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityTested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collaborator.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.InspectionId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InspectionId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.InspectionId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
