@using CarManufactoring.ViewModels.Group1;
@model MachineMaintenaceIndexViewModel
@{

}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineMaintenanceList.List.First().MachineMaintenanceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMaintenanceList.List.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMaintenanceList.List.First().BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMaintenanceList.List.First().ExpectedEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMaintenanceList.List.First().EffectiveEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMaintenanceList.List.First().TaskTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMaintenanceList.List.First().PriorityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMaintenanceList.List.First().MachineId)
        </tr>
    </thead>
    <tbody>

        @foreach (MachineMaintenance machineMaintenace in Model.MachineMaintenanceList.List)
        {
            if (machineMaintenace.EffectiveEndDate != null)
            {
                <tr class="text-decoration-none ">
                <td scope="col">
                    <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                        @machineMaintenace.MachineMaintenanceId
                    </a>
                </td>
                <td scope="col">
                    <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                        @machineMaintenace.Description
                    </a>
                </td>
                <td scope="col">
                    <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                        @machineMaintenace.BeginDate.ToShortDateString()
                    </a>
                </td>
                <td scope="col">
                    <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                        @machineMaintenace.ExpectedEndDate.ToShortDateString()
                    </a>
                </td>
                <td scope="col">
                    <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                        @machineMaintenace.EffectiveEndDate
                    </a>
                </td>
                <td scope="col">
                    <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                        @machineMaintenace.TaskType.TaskName
                    </a>
                </td>
                <td scope="col">
                    <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                        @machineMaintenace.Priority.Name
                    </a>
                </td>
                <td scope="col">
                    <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                        @machineMaintenace.Machine.MachineModel.MachineBrandNames.MachineBrandName - @machineMaintenace.Machine.MachineModel.MachineModelName
                    </a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>