@model CarManufactoring.Models.MachineMaintenance

@{
    ViewData["Title"] = "Details";
    var state = "Aberto";
}

<h1>Details</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Manutenção de Máquina  nº @Model.MachineMaintenanceId</h1>
            <p>
                <span class="text-bold "> Máquina: </span> @Model.Machine.MachineModel.MachineBrandNames.MachineBrandName - @Model.Machine.MachineModel.MachineModelName
            </p>
            <p>
                @if (Model.EffectiveEndDate != null)
                {
                    state = "Fechado";
                 
                }
                <span class="text-bold "> Estado: @state </span>
            </p>
            <p>
                <span class="text-bold "> Data de abertura : @Model.BeginDate.ToLongDateString() </span>
            </p>
            <p>
                <span class="text-bold "> Data prevista de Término : @Model.ExpectedEndDate.ToLongDateString() </span>
            </p>
            @if (Model.EffectiveEndDate != null)
            {
                <p>
                    <span class="text-bold "> Data Efectiva de Término: @Model.EffectiveEndDate..ToLongDateString() </span>

                </p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-5">
            <h2>Colaboradores</h2>
            <div class="container">
                <div class="row">
                    @foreach (MaintenanceCollaborator collaborator in ViewBag.Collaborators)
                    {
                        <div class="col-3">
                            <p>@collaborator.Collaborators.Name</p>
                            <i style="font-size:40px" class="fa-solid fa-user-vneck-hair"></i>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <a asp-action="Edit" asp-route-id="@Model?.MachineMaintenanceId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

