@model IEnumerable<CarManufactoring.Models.MachineMaintenance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Effective_End_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expected_End_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Effective_End_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expected_End_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachineMaintenanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachineMaintenanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachineMaintenanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
