@using CarManufactoring.ViewModels.Group1;
@model MachineMaintenaceIndexViewModel

@{
    ViewData["Title"] = "Gestão de Máquina na Linha de Produção";
    
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Title"]</h1>
            <hr />
        </div>
    </div>
    <div class="row py-4">
        <div class="col-4">
            <a asp-action="Create" class="btn btn-success mt-3">Create </a>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-8">
            <h3>Últimos 10 Trabalhos em aberto</h3>           
            <hr />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OnProgress.First().MachineMaintenanceId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OnProgress.First().Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OnProgress.First().BeginDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OnProgress.First().ExpectedEndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OnProgress.First().TaskTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OnProgress.First().PriorityId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OnProgress.First().MachineId)
                        </th>
                       
                    </tr>
                </thead>
                <tbody >
                    
                    @foreach (var machineMaintenace in Model.OnProgress)
                    {
                        <tr class="text-decoration-none ">
                            <td scope="col">
                                <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    @machineMaintenace.MachineMaintenanceId
                                </a>
                            </td>
                            <td scope="col">
                                <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    @machineMaintenace.Description
                                </a>
                            </td>
                            <td scope="col">
                                <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    @machineMaintenace.BeginDate.ToShortDateString()
                                </a>
                            </td>
                            <td scope="col">
                                <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    @machineMaintenace.ExpectedEndDate.ToShortDateString()
                                </a>
                            </td>
                            <td scope="col">
                                <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    @machineMaintenace.TaskType.TaskName
                                </a>
                            </td>
                            <td scope="col">
                                <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    @machineMaintenace.Priority.Name
                                </a>
                            </td>
                            <td scope="col">
                                <a class="text-decoration-none text-black" asp-action="Details" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    @machineMaintenace.Machine.MachineModel.MachineBrandNames.MachineBrandName - @machineMaintenace.Machine.MachineModel.MachineModelName
                                </a>
                            </td>
                            <td scope="col">
                                <a class="text-decoration-none text-black" asp-action="Edit" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a class="text-decoration-none text-black" asp-action="Delete" asp-route-id="@machineMaintenace.MachineMaintenanceId">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
    
                        </tr>    
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-12">
            <h3>Tarefas</h3>
            <hr />

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#all-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Todas Tarefas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#open-tab-pane" type="button" role="tab" aria-controls="open-tab-pane" aria-selected="false">Tarefas Abertas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#closed-tab-pane" type="button" role="tab" aria-controls="closed-tab-pane" aria-selected="false">Tarefas Fechadas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#deleted-tab-pane" type="button" role="tab" aria-controls="deleted-tab-pane" aria-selected="false">Tarefas Eliminadas</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
                    @{
                        await Html.RenderPartialAsync("_AllMaintenances", Model);
                    }
                </div>
                <div class="tab-pane fade" id="open-tab-pane" role="tabpanel" aria-labelledby="open-tab" tabindex="0">
                    @{
                        await Html.RenderPartialAsync("_OpenMaintenances", Model);
                    }
                </div>
                <div class="tab-pane fade" id="closed-tab-pane" role="tabpanel" aria-labelledby="closed-tab" tabindex="0">
                    @{
                        await Html.RenderPartialAsync("_ClosedMaintenances", Model);
                     }
                </div>
                <div class="tab-pane fade" id="deleted-tab-pane" role="tabpanel" aria-labelledby="deleted-tab" tabindex="0">
                    @{
                        await Html.RenderPartialAsync("_DeletedMaintenances", Model);
                    }
                </div>           
            </div>
    </div>
</div>



<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Abertas', 'Fechadas'],
            datasets: [{
                label: 'Estado das Manutenções',
                data: [@Model.OpenToGraph.Count(), @Model.ClosedToGraph.Count()],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)'
                ],
            hoverOffset: 4
            }]
        },
       
    });
</script>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Pesquisa</h5>
            <form asp-action="Search" method="get">
                <div class="mb-3">
                    <label for="priority" class="form-label">Priority</label>
                    <input name="priority" class="form-control" type="search" value="@Model.PrioritySearched" />
                </div>
                <div class="mb-3">
                    <label for="taskType" class="form-label">Task Type </label>
                    <input name="taskType" class="form-control" type="search" value="@Model.TaskTypeSearched" />
                </div>
                <div class="mb-3">
                    <label for="machine" class="form-label">Machine</label>
                    <input name="machine" class="form-control" type="search" value="@Model.MachineSearched" />
                </div>
                <input type="submit" value="Search" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn btn-secondary">Clear Search</a>
            </form>
        </div>
    </div>
