@model ExtraIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .butt {
        padding-bottom: 10px;
    }
</style>

<h1>@ViewBag.Title</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search Extra</h5>
        <form asp-action="Index" method="get">
            <div class="mb-3">
                <label for="descExtra" class="form-label">DescExtra</label>
                <input name="descExtra" class="form-control" type="search" value="@Model.DescExtraSearched" />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input name="price" class="form-control" type="search" value="@Model.PriceSearched" />
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn btn-secondary">Clear Search</a>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new Extra().DescExtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Extra().Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExtraList.List)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescExtra)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ExtraID" class="btn btn-warning">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.ExtraID" class="btn btn-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.ExtraID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="mt-3 butt">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.ExtraList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="">First</a>
        </li>

        @for (int p = Model.ExtraList.PagingInfo.InitialPageToShow; p <= Model.ExtraList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.ExtraList.PagingInfo.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.ExtraList.PagingInfo.CurrentPage == Model.ExtraList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.ExtraList.PagingInfo.TotalPages">Last</a>
        </li>

    </ul>
</nav>
