@model CarManufactoring.Models.WarehouseStock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WarehouseStock</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => new WarehouseStock().Identification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Material().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new Stock().Quantity)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Stock item in ViewBag.Stock)
            {
                <tr>
                    <td>
                        @item.WarehouseStock.Identification
                    </td>
                    <td>
                        @item.Material.Nome
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WarehouseStockId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
