@model IEnumerable<CarManufactoring.Models.Brand>

@{
    ViewData["Title"] = "Brands";
}

<style>
    .butt {
        padding-bottom: 10px;
    }
</style>

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
                <td>
                <a asp-action="Details" asp-route-id="@item.BrandId" class="btn btn-info">Details</a>
                    @if (User.IsInRole("Colaborator"))
                    {
                <a asp-action="Edit" asp-route-id="@item.BrandId" class="btn btn-warning">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.BrandId" class="btn btn-danger">Delete</a>
                   }     
            </td>
        </tr>
}
    </tbody>
</table>

 @if (User.IsInRole("Colaborator")){
<div class="mt-3 butt">
    <a class="btn btn-success" asp-action="Create"><i class="fa-sharp fa-solid fa-plus pe-2"></i>Create New</a>
</div>
 }