@model CarIndexViewModel

@{
    ViewData["Title"] = "Cars";
}

<style>
    .butt{
        padding-bottom : 10px;
    }
</style>

<h1>@ViewBag.Title</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search Car</h5>
        <form asp-action="Index" method="get">
            <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input name="brand" class="form-control" type="search" value="@Model.BrandSearched" />
            </div>
            <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input name="model" class="form-control" type="search" value="@Model.CarModelSearched" />
            </div>
            <div class="mb-3">
            <label for="launchyear" class="form-label">Launch Year</label>
            <input name="launchyear" class="form-control" type="search" value="@Model.LaunchYearSearched" />
            </div>
            <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="price" class="form-control" type="search" value="@Model.PriceSearched" />
            </div>

            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn btn-secondary">Clear Search</a>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new Car().Brand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Car().CarModel)
            </th>

            <th>
                @Html.DisplayNameFor(model => new Car().LaunchYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Car().BasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarsList.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LaunchYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasePrice)€
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="mt-3 butt">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.CarsList.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="">First</a>
        </li>

        @for (int p = Model.CarsList.PagingInfo.InitialPageToShow; p <= Model.CarsList.PagingInfo.FinalPageToShow; p++)
        {
            if (p == Model.CarsList.PagingInfo.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
            }
        }

        <li class="page-item @(Model.CarsList.PagingInfo.CurrentPage == Model.CarsList.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.CarsList.PagingInfo.TotalPages">Last</a>
        </li>

    </ul>
</nav>