@model CarManufactoring.Models.MachineBudget

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MachineBudget</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataSolicitada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataSolicitada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.prazoGarantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.prazoGarantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.custoManutencao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.custoManutencao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aquisition.QuantityOfParts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aquisition.QuantityOfParts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aquisition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aquisition.MachineAquisitionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MachineBudgetID" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
