@model IEnumerable<CarManufactoring.Models.MachineBudget>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dataSolicitada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aquisition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dataSolicitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aquisition.MachineAquisitionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachineBudgetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachineBudgetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachineBudgetID">Delete</a>
            </td>
        </tr>

       
}
    </tbody>
</table>

@if (Model.Count() >= 2)
{

    <p>
        <a asp-action="Comparison">Perform Comparison</a>
    </p>
}



